header.header.js-header
    .container
        .header__inner
            .header__group
                .header__burger.burger.js-burger
                    .burger__line
                a.header__logo.logo(href="#")
                    img.logo__img(src="assets/images/logo.png" alt="Pizza Cheff Logo")
                    span.logo__text Pizza<br/> Cheff
            ul.header__menu.menu.js-menu
                li.menu__item
                    a.menu__link(href="#") Пиццы
                li.menu__item
                    a.menu__link(href="#") Напитки
                li.menu__item
                    a.menu__link(href="#") Доставка и оплата
                li.menu__item
                    a.menu__link(href="#") Контакты
            a.header__cart.cart(href="#")
                img.cart__img(src="assets/images/icon-cart.png" alt="Icon Cart")