footer.footer
    .container
        .footer__inner
            a.footer__logo.logo(href="#")
                img.logo__img(src="assets/images/logo.png" alt="Pizza Cheff Logo")
                span.logo__text Pizza<br/> Cheff
            span.footer__copyright Все права защищены, 2020