.catalog
    .container
        .catalog__inner
            h2.catalog__title Выберите свою любимую пиццу
            .catalog__list
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-1.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Мясная Делюкс
                    span.card__description Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-2.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Морская Премиум
                    span.card__description Перец, сыр, креветки, кальмары, мидии, лосось
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-3.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Бекон и Сосиски
                    span.card__description Бекон, сыр, сосиски, ананас, томатная паста
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-4.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Куриная Делюкс
                    span.card__description Курица, ананас, сыр Пепперони, соус для пиццы, томатная паста
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-5.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Барбекю Премиум
                    span.card__description Свинина BBQ, соус Барбкею, сыр, курица, соус для пиццы, соус чили
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-6.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Пепперони Дабл
                    span.card__description Пепперони, сыр, колбаса 2 видов: обжаренная и вареная
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-7.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Куриное трио
                    span.card__description Жареная курица, Тушеная курица, Куриные наггетсы, перец, сыр, грибы, соус для пиццы
                    button.card__btn.btn.btn--block.btn--small В корзину
                .catalog__item.card
                    a.card__img.js-card-img(style="background-image:url(assets/images/inhtml/pizza-item-8.png)" href="assets/images/inhtml/pizza-item-1.png")
                    span.card__title Сырная
                    span.card__description Сыр Джюгас, Сыр с плесенью, Сыр Моцарелла, Сыр секретный
                    button.card__btn.btn.btn--block.btn--small В корзину
