.advantages
    .container
        .advantages__inner
            h1.advantages__title
                span Самая вкусная пицца в мире
                span только в Pizza Cheff
            img.advantages__img(src="assets/images/inhtml/pizza-big.png")
            .advantages__list
                .advantages__item
                    img.advantages__item-img(src="assets/images/inhtml/hop.png" alt="Hop")
                    .advantages__item-content
                        span.advantages__item-title Лучшее тесто
                        p.advantages__item-text Мы создаем тесто только из отборной итальянской муки наивысшего качества
                .advantages__item
                    img.advantages__item-img(src="assets/images/inhtml/kitchen-pack.png" alt="Kitchen Pack")
                    .advantages__item-content
                        span.advantages__item-title Лучшие повара
                        p.advantages__item-text Пиццы готовят самые профессиональные итальянские повара
                .advantages__item
                    img.advantages__item-img(src="assets/images/inhtml/seo-and-web.png" alt="Seo and web")
                    .advantages__item-content
                        span.advantages__item-title Гарантия качества
                        p.advantages__item-text Наша пиццерия получила множество наград и признаний по всему миру
                .advantages__item
                    img.advantages__item-img(src="assets/images/inhtml/holidays.png" alt="Holidays")
                    .advantages__item-content
                        span.advantages__item-title Отборные рецепты
                        p.advantages__item-text Мы используем рецепты от мировых лидеров в&nbsp;изготовлении пиццы
            a.advantages__btns.btn(href="#") Выбрать пиццу

    